{% extends 'base.html.twig' %}

{% block title %}EcoWeb | Formations pour un web toujours plus écologique{% endblock %}

{% block body %}
    <div class="row">
        <h1>Accueil</h1>

        <h2>Fonts</h2>
        <p class="text-space-mono">Space Mono</p>
        <p class="text-space-mono-bold">Space Mono Bold</p>
        <p class="text-segoe-ui">Segoe UI</p>
        <p class="text-segoe-ui-bold">Segoe UI Bold</p>
        <p class="text-segoe-ui-light">Segoe UI Light</p>

        <div class="bg-dark m-4 p-4 rounded-corners text-white">
            <h3 class="text-space-mono-bold text-secondary">Titre des sections</h3>
            <h4 class="text-space-mono text-light">Sous-titres</h4>
            <p class="text-segoe-ui">
                Lorem ipsum dolor sit amet, consetetur adipiscing elit.
            </p>
            <button class="button-primary">Button</button>
        </div>

    </div>
{% endblock %}
