/***
  Colors
 */

/* Bootstrap colors personalised */
$primary: #0EA47A;
$secondary: #E48257;
$dark: #393232;
$light: #F2EDD7;

$colors: (primary, $primary),
        (secondary, $secondary),
        (dark, $dark),
        (light, $light);

/* Bootstrap import */
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


/***
  Fonts
 */
@font-face {
    font-family: 'Space Mono Bold';
    src: url("fonts/SpaceMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Space Mono';
    src: url("fonts/SpaceMono-Regular.ttf") format("truetype");
}

$space-mono: 'Space Mono', serif;
$space-mono-bold: 'Space Mono Bold', serif;
$segoe-ui: 'Segoe UI', sans-serif;
$segoe-ui-light: 'Segoe UI Light', sans-serif;
$segoe-ui-bold: 'Segoe UI Bold', sans-serif;

$fonts: (space-mono, $space-mono),
        (space-mono-bold, $space-mono-bold),
        (segoe-ui, $segoe-ui),
        (segoe-ui-bold, $segoe-ui-bold),
        (segoe-ui-light, $segoe-ui-light);

@each $name, $font in $fonts {
  .text-#{$name} {
    font-family: #{$font};
  }
}


/***
  Body
 */
body {
  background-color: lighten($light, 6%);
  font-family: $segoe-ui;
}


/***
  Buttons
 */
@mixin button {
  border-radius: 22px;
  padding: 3px 20px;
  font-family: $space-mono;
}

@each $name, $color in $colors {
  .button-#{$name} {
    @include button;
    background-color: $color;
    border: 2px solid $color;
    color: white;

    &:hover {
      background-color: transparent;
      transition: background-color 0.5s;
    }

    &:active {
      background-color: transparentize($color, 0.4);
    }
  }

  .button-check-#{$name} {
    & + label {
      @include button;
      background-color: transparent;
      border: 2px solid $color;
      color: $color;
      cursor: pointer;
    }

    &:hover + label {
      background-color: $color;
      color: $light;
      transition: background-color 0.5s;
    }

    &:checked + label {
      background-color: $color;
      color: $light;
      transition: background-color 0.5s;
    }
  }
}

/***
  Box, rounded corners, backgrounds, shadows
 */
.rounded-corners {
  border-radius: 22px;
}


/***
  Navbar
 */
.navbar {
  padding-top: 0.01rem;
  padding-bottom: 0.01rem;
}

.navbar-burger {
  background-color: $secondary;
  border-radius: 30px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}


/***
  Body
 */
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  height: 100%;
}


/***
  Titles
 */
h1 {
  font-size: 2.9em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.2em;
}


/***
Links
 */
.link-dark {
  color: $dark;
  text-decoration: none;
  &:hover {
    color: $primary;
  }
}

.link-light {
  color: $light;
  text-decoration: none;
  &:hover {
    color: $primary;
  }
}